nav {
  width: 100vw;
  border-bottom: 2px solid black;
  margin-bottom: 3em;
}

ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  font-size: 1.5em;
}

nav ul li:nth-child(2) {
  margin-left: 1em;
}
