.back-to-top {
  position: fixed;
  margin-top: 90vh;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 2em;
  cursor: pointer;
}
.cardFlag {
  display: flex;
  flex-direction: row;
  width: 70vw;

  justify-content: space-evenly;
}

.cardFlag img {
  margin: 0;
  padding: 0;

  width: 20em;
}

.cardFlag p {
  font-size: 2.5em;
  font-style: italic;
}

h1 {
  font-size: 3em;
}

.mainSingle {
  margin-top: 1em;
  display: flex;
  align-items: center;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2em;
  grid-template-areas: "left right";
}

.left {
  padding-left: 1em;
  grid-area: left;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
  background-color: rgb(178, 222, 207);
  width: 100%;
}

.weather img {
  width: 2em;
  height: 2em;
  font-size: 5em;
  margin-left: -1em;
}

.weather p {
  font-size: 1.5em;
}

.goBackButton {
  font-size: 2em;
  margin: 2em 0 0 0.2em;
  text-decoration: none;
}

.right {
  grid-area: right;
  width: 90%;
}

.wikiText {
  font-size: 1em;
  width: 100%;
}

.wikiText a {
  color: black;
  width: 100%;
  font-style: italic;
}

.right p {
  font-family: inherit;
}
